/* General Styling */

body {
  padding: 60px 0;
  font-family: sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

h1,
h2 {
  max-width: 960px;
  margin: 0 auto 12px auto;
}

a {
  color: #333;
  text-decoration: none;
}

footer {
  width: 99%;
  text-align: center;
  padding: 20px 0;
}

.outerWrapper {
  text-align: left;
  position: relative;
  /*margin:60px auto 60px auto;*/
  max-width: 1250px;
}

.item {
  float: left;
  margin-right: 0px;
  max-width: 580px;
  padding: 20px;
  height: 162px;
  border-radius: 5px;
}

.item div {
  width: 99%;
  height: 99%;
  color: white;
  color: #b3b3b3;
  text-align: center;
  line-height: 162px;
  font-size: 60px;
  border-radius: 5px;
}

.left-nav-btn,
.right-nav-btn {
  position: absolute;
  width: 85px;
  height: 115px;
  top: 290px;
  cursor: pointer;
  opacity: 0.8;
  background: transparent url("../images/arrows.png") top left no-repeat;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.left-nav-btn {
  left: -80px;
}

.right-nav-btn {
  right: -80px;
  background-position: top right;
}

.left-nav-btn:hover,
.right-nav-btn:hover {
  opacity: 1;
}

/* Vertical Mode */

.vert.outerWrapper {
  margin: 50px auto 60px auto;
  width: 204px;
  height: 456px;
}

.vert .item {
  float: left;
  margin-bottom: 48px;
  width: 162px;
}

.vert .left-nav-btn,
.vert .right-nav-btn {
  position: absolute;
  width: 37px;
  height: 37px;
  cursor: pointer;
  left: 82px;
  background: transparent url("../images/arrows_vert.png") top left no-repeat;
}

.vert .left-nav-btn {
  top: -60px;
}

.vert .right-nav-btn {
  top: auto;
  bottom: -60px;
  background-position: bottom left;
}

.leftWrapper {
  width: 48%;
  float: left;
}

.rightWrapper {
  width: 48%;
  float: right;
}

.leftWrapper h2,
.rightWrapper h2 {
  width: 100%;
  text-align: center;
}

.outerWrapper2 .item {
  margin-right: 50px;
  width: 110px;
  padding: 20px;
}

/* Pager */

.pager {
  line-height: 100px;
  text-align: center;
}

.pager > span {
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #dddddd;
  border: 1px solid #b3b3b3;
  margin: 0 4px;
  overflow: none;
}

.pager > span.active {
  background: #b3b3b3;
}

.pager > span > span {
  display: none;
}

/* Counter (See Example 7) */

#counter {
  margin-top: -30px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  z-index: 999;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04aa6d;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c1102a;
  padding: 12px 0px;
}

.sticky + .content {
  padding-top: 100px;
}

@media screen and (max-width: 1366px) {
  .outerWrapper {
    text-align: left;
    position: relative;
    /*margin:60px auto 60px auto;*/
    max-width: 850px;
  }
}

/* ============***============
New CSS
============***============ */

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  position: absolute;
  top: 60px;
  left: 50px;
  display: flex;
  align-items: center;
  background: #b90032;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.bar img {
  max-width: 40px;
  width: 100%;
}

.bar span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 10px;
}

.sticky .bar {
  position: absolute;
  top: 28px;
  left: 50px;
  background: transparent;
}

/* Sidebar */

.sidebar-nav {
  position: fixed;
  top: 0;
  left: -100%;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  background-color: #db603a;
  padding: 50px 30px 0;
  box-shadow: 6px 0px 20px 13px #00000059;
  transition: left 0.3s ease-in-out;
  z-index: 9999;
}

.sidebar-nav.active {
  left: 0;
}

.close img {
  max-width: 30px;
  width: 100%;
  cursor: pointer;
}

.sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar-nav ul li {
  position: relative;
}

.main-nav {
  display: block;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  background: #af2a30;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.sidebar-nav ul li a:hover {
  text-decoration: none;
  border-bottom: 0;
}

.sidebar-nav ul li a.menu-toggle {
  position: absolute;
  width: 100%;
  text-align: left;
  left: -5px;
}

.sidebar-nav ul li a.menu-toggle.plus {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 12px;
  padding-right: 15px !important;
}

.sidebar-nav ul li a.menu-toggle:after {
  position: relative;
  left: 0;
  content: url(../images/chevron-right.png);
}

.sidebar-nav ul li a.menu-toggle.active:after {
  content: url(../images/chevron-bottom.png);
}

.sidebar-nav ul li a.menu-toggle.plus:after {
  content: url(../images/plus.png);
}

.sidebar-nav ul li a.menu-toggle.active.plus:after {
  content: url(../images/minus.png);
  top: -5px;
}

.sidebar-nav ul li a.menu-toggle:focus,
.sidebar-nav ul li a.menu-toggle:hover,
.sidebar-nav ul li a.menu-toggle:visited,
.sidebar-nav ul li a.menu-toggle:link {
  border-bottom: 0;
  text-decoration: none;
}

.pt-20 {
  padding-top: 20px;
}

.pb-15 {
  padding-bottom: 15px;
}

.sidebar-nav ul.sub-menu {
  display: none;
  font-size: 14px;
}

.sidebar-nav ul.sub-menu li {
  padding-left: 20px;
}

.sub-menu li a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 25px;
}

.sub-menu-level2 li {
  padding-top: 10px;
}

.sub-menu-level2 li a {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}

@media (min-width: 300px) and (max-width: 767px) {
  .bar {
    top: 20px !important;
    left: 20px !important;
  }

  .sticky .bar {
    left: 0px !important;
  }

  .sticky .bar span {
    display: none !important;
  }

  .sidebar-nav {
    padding: 20px 10px 0 !important;
  }

  .main-nav {
    font-size: 20px !important;
  }

  .sub-menu li a {
    font-size: 16px !important;
  }

  .sidebar-nav ul li a.menu-toggle.plus {
    top: 8px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  #myInput {
    font-size: 16px !important;
    width: 75% !important;
    margin-right: -40px;
    background-size: 20px;
  }

  .mainimg,
  .mainimg img {
    width: 100% !important;
    border-radius: 20px !important;
  }

  .clipp {
    margin-left: 0 !important;
  }

  .clipp img {
    width: 80px !important;
  }

  .left-nav-btn,
  .right-nav-btn {
    display: none !important;
  }
}

#sidebar-nav .side-nav {
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  overflow: auto;
}

#sidebar-nav ::-webkit-scrollbar {
  padding-left: 20px;
  width: 15px;
}

/* Track */
#sidebar-nav ::-webkit-scrollbar-track {
  background: #8f422875;
  border-radius: 10px;
}

/* Handle */
#sidebar-nav ::-webkit-scrollbar-thumb {
  background: #8f4228;
  border-radius: 10px;
}
